In [73]:
import pandas as pd
import numpy as np
from datetime import datetime

In [60]:
df = pd.read_csv("./glassdoor_jobs.csv")
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [61]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          956 non-null    object
 1   Salary Estimate    956 non-null    object
 2   Job Description    956 non-null    object
 3   Rating             956 non-null    float64
 4   Company Name       956 non-null    object
 5   Location           956 non-null    object
 6   Headquarters       956 non-null    object
 7   Size               956 non-null    object
 8   Founded            956 non-null    int64
 9   Type of ownership  956 non-null    object
 10  Industry           956 non-null    object
 11  Sector             956 non-null    object
 12  Revenue            956 non-null    object
 13  Competitors        956 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 104.7+ KB

## Data Cleaning --------------------------------

In [62]:
# Salary Parsing
# Conpany name text only
# State Field
# Age of Company
# Parsing of job description(python etc.)

df = df.loc[df["Salary Estimate"] != "-1"]

salary = df["Salary Estimate"].apply(lambda x: x.split("(")[0])

minus_kd = salary.apply(lambda x: x.replace("K", "").replace("$", ""))
min_hr = minus_kd.apply(
    lambda x: x.lower()
    .replace("per hour", "")
    .replace("employer provided salary:", "")
    .strip()
)


df["hourly"].value_counts()
df["employer provided"].value_counts()
min_hr.unique()

df["min_salary"] = min_hr.apply(lambda x: x.split("-")[0])
df["max_salary"] = min_hr.apply(lambda x: x.split("-")[0])
df["average_salary"] = (pd.to_numeric(df["min_salary"]) + pd.to_numeric(df["max_salary"])) / 2
df.head()

In [63]:
# Veriyi temizleme ve ortalama maaşları hesaplama
def calculate_average_salary(text):
    if not text:
        return None
    salaries = [int(s) for s in text.split("-") if s.isdigit()]
    return sum(salaries) / len(salaries) if salaries else None


# Salary Parsing
df = df.loc[df["Salary Estimate"] != "-1"]

df["hourly"] = df["Salary Estimate"].apply(
    lambda x: 1 if "per hour" in x.lower() else 0
)
df["employer provided"] = df["Salary Estimate"].apply(
    lambda x: 1 if "employer provided salary:" in x.lower() else 0
)

salary=df["Salary Estimate"].apply(lambda x : x.split('(')[0])

minus_kd=salary.apply(lambda x : x.replace('K','').replace('$',''))

min_hr=minus_kd.apply(lambda x : x.lower().replace('per hour','').replace('employer provided salary:',''))


df['min_salary']=min_hr.apply(lambda x : int(x.split('-')[0]))
df['max_salary']=min_hr.apply(lambda x : int(x.split('-')[1]))

df['average_salary']=(df['min_salary'] + df['max_salary'])/2


# print(min_hr.tolist())


df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer provided,min_salary,max_salary,average_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

In [64]:
#Company Name Text Only

# company_names=df['Company Name'].apply(lambda x: x.split("\n")[0])



df['company_txt']=df.apply(lambda x:x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis=1)
df['company_txt'].unique()


df['company_txt'].head()

0                        Tecolote Research\n
1    University of Maryland Medical System\n
2                                  KnowBe4\n
3                                     PNNL\n
4                       Affinity Solutions\n
Name: company_txt, dtype: object

In [68]:
#State Field
df['job_state']=df['Location'].apply(lambda x: x.split(',')[1])

df['job_state'].value_counts()

df['same_state']=df.apply(lambda x : 1 if x['Location']==x['Headquarters'] else 0,axis=1)

df['same_state'].value_counts()

same_state
1    414
0    328
Name: count, dtype: int64

In [91]:
#age of company
df=df[df['Founded']!=-1]
df['Founded'].unique()
df['age']=df['Founded'].apply(lambda x :datetime.now().year-x)
df['age'].value_counts(sort=True,ascending=True)

age
135     1
164     1
82      1
45      1
146     1
       ..
12     21
18     24
28     27
16     31
14     32
Name: count, Length: 101, dtype: int64

In [104]:
#parsing of job description
df['Job Description'][0]
# python , r studio , spark , aws ,excel
df['python_yn']=df['Job Description'].apply(lambda x :1 if 'python' in x.lower() else 0)
df['python_yn'].value_counts()

df['R_yn']=df['Job Description'].apply(lambda x :1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['R_yn'].value_counts()

df['spark_yn']=df['Job Description'].apply(lambda x :1 if 'spark' in x.lower() else 0)
df['spark_yn'].value_counts()

df['aws_yn']=df['Job Description'].apply(lambda x :1 if 'aws' in x.lower() else 0)
df['aws_yn'].value_counts()

df['excel_yn']=df['Job Description'].apply(lambda x :1 if 'excel' in x.lower() else 0)
df['excel_yn'].value_counts()

# df.to_csv('salary_data_cleaned.csv',index=False)